.header {
    background: linear-gradient(0deg, #1E8BE3, #1E8BE3),
    linear-gradient(0deg, #E3E3E3, #E3E3E3);
        display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px ;
    border-bottom: 1px solid #e3e3e3;
    color: white;
    text-transform: capitalize;
}


.footer {
    background: #A5E2F533;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px ;
    border-bottom: 1px solid #e3e3e3;
    margin-top: 100px;
}

.telegram__bot__section{
    /* margin-top: 120px; */
    text-align: left;
    display: flex;
    align-items: center;
}

.telegram__bot__text__section{
    margin: 0 30px;
    width: 50%;
}